.card {
  background-color: $lightest;
  padding: 0.9375rem 0.9375rem 1.125rem 0.9375rem;
  margin-bottom: 1.875rem;
  border-radius: 6px;
  box-shadow: rgba($darkest, 0.15) 0 10px 20px;
  list-style-type: none; // if <li>
  margin-left: 0; // if <li>
  overflow: hidden; // mask images that run to edges

  p:last-child,
  ul:last-child {
    margin-bottom: 0;
  }

  img {
    margin: 0 0 1.5rem 0;
  }

  .card-image--hang-left-wide,
  .card-image--hang-right-wide {
    width: 100%;
    max-width: 48.5%;
  }

  .button--default:last-child {
    margin-bottom: 0.9375rem;
  }
}

a.card { // use for cards that are a link
  display: block;
  transition: all 0.1s ease-in-out;
  border: none;

  &:hover,
  &:focus {
    border: none;
    transform: translate3d(0, -3px, 0);
    box-shadow: rgba($darkest, 0.2) 0 15px 30px;
  }

  &:active {
    border: none;
    transform: translate3d(0, 3px, 0);
    box-shadow: rgba($darkest, 0.4) 0 5px 10px;
  }

  .link-surrogate {
    border-bottom: 2px solid rgba($green, 0.5);
    transition: all 0.2s linear;
    line-height: 1.5;
  }

  &:hover .link-surrogate {
    border-bottom: 2px solid rgba($green, 1);
  }
}

:target .card.targetable,
.card.targetable:target {
  box-shadow:
    rgba($darkest, 0.15) 0 10px 20px,  // normal shadow
    inset 0 0 0 4px rgba($yellow, 0.5); // targeted psuedo-border
}

@media (min-width: 500px) {
  .card {

    .card-image--hang-left-wide,
    .card-image--hang-right-wide {
      max-width: 31.333%;
    }
  }
}

@media (min-width: 700px) {
  .card {

    p,
    ul {
      width: 74.25%;
    }

    .paragraph--major {
      width: 100%;
    }


    img {
      margin: 0 0 1.875rem 0;
    }

    .card-image--hang-left-wide,
    .card-image--hang-right-wide {
      max-width: 22.75%;
    }

    .card-image--hang-left-wide {
      margin-right: 3%;
      margin-top: 0.375rem;
      float: left;
    }

    .card-image--hang-right-wide {
      margin-left: 3%;
      margin-top: 0.375rem;
      float: right;
    }
  }
}
