.footer--global {
  background-color: $dark-gray;
  background-image: linear-gradient(to top, $dark-gray, $light-gray);
  color: $lightest;
  padding-top: 3.75rem;
  padding-bottom: 1px; // janky margin-negating hack
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 1;
  font-size: 0;

  &:before {
    content: "";
    display: inline-block;
    height: 1.875rem;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    @include top-left($lightest-gray);
    background-size: 100% 100%;
    -webkit-filter: drop-shadow( rgba($darkest, 0.5) 0 10px 20px );
            filter: drop-shadow( rgba($darkest, 0.5) 0 10px 20px );
  }

  .text-heading-two,
  p,
  li a {
    text-shadow: rgba($darkest, 1) 0 10px 20px;
  }

  li {
    list-style-type: none;
    margin-left: 0;

    a {
      border-bottom-color: rgba($lightest, 0.2);

      &:hover,
      &:focus {
        border-bottom-color: $lightest;
      }
    }
  }

  section {
    margin-bottom: 1.875rem;
  }

  .split-in-two,
  .split-in-three {
    vertical-align: top;
    margin-bottom: 1.875rem;
  }

  p {
    margin-bottom: 0;
  }
}

.footer--logo {
  height: 5rem; // 80px is height of logo image
  background: url('../../images/logos/footer-logo.svg') center center no-repeat;
  margin-bottom: 3rem ;
}

.map {
  width: 100%;
  border: none;

  &:hover,
  &:focus {
    border: none;
    background-color: transparent;
  }

  img {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 0.75rem;
    box-shadow: rgba($darkest, 1) 0 10px 20px;
    transition: all 0.1s ease-in-out;
  }

  &:hover img, &:focus img {
    box-shadow: rgba($darkest, 0.8) 0 15px 30px;
    transform: translate3d(0, -3px, 0);
  }

  &:active img {
    box-shadow: rgba($darkest, 1) 0 5px 10px;
    transform: translate3d(0, 3px, 0);
  }
}

@media (min-width: 500px) {
  .footer--global {
    padding-top: 7.5rem;

    &:before {
      height: 3.75rem;
    }

    section {
      margin-bottom: 3.75rem;
    }
  }

  .split-in-two {
    display: inline-block;
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .split-in-three {
    display: inline-block;
    width: 31.333%;
    margin-right: 3%;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
