.header--global {
  background-color: $dark-gray;
  background-image: linear-gradient(to bottom, $dark-gray, $light-gray);
  color: $lightest;
  padding-top: 1.875rem;
  -webkit-font-smoothing: antialiased;
  position: relative;

  &:after {
    content: "";
    display: inline-block;
    height: 1.875rem;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    @include bottom-left($lightest-gray);
    background-size: 100% 100%;
    -webkit-filter: drop-shadow( rgba($darkest, 0.5) 0 -10px 20px );
            filter: drop-shadow( rgba($darkest, 0.5) 0 -10px 20px );
  }
}

.main--navigation-logo {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0;
  border: none;
  transition: all 0.1s ease-in-out;

  &:hover, &:focus {
    border: none;
    background-color: transparent !important;
    transform: translate3d(0, -3px, 0);
  }

  &:active {
    transform: translate3d(0, 3px, 0);
  }
}

.navigation--global {
  display: inline-block;
  margin: 1.5rem 0 1.5rem 0;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 0.75rem;

  a {
    margin: 0 0.5rem;
    border-bottom-color: rgba($lightest, 0.2);
    text-shadow: rgba($darkest, 1) 0 10px 20px;

    &.link {
      line-height: 2;
    }

    &:hover,
    &:focus {
      border-bottom-color: $lightest;
    }
  }

  .button--major {
    margin: 24px 0 0 0;
    display: block;
    width: 100%
  }
}

.area-services .link-services,
.area-work .link-work,
.area-about .link-about,
.area-jobs .link-jobs {
  border-bottom-color: $lightest !important;
}

.page-heading {
  margin-top: 1.875rem;

  h1, p {
    text-shadow: rgba($darkest, 1) 0 10px 20px;
  }
}

@media (min-width: 400px) {
  .navigation--global {
    font-size: 0.9375rem;

    .button--major {
      width: 75%;
    }
  }
}

@media (min-width: 700px) {

  .header--global {

    &:after {
      height: 3.75rem;
    }
  }

  .main--navigation-logo {
    display: inline-block;
    width: 30%;
    margin: 0;
  }

  .navigation--global {
    display: block;
    width: 69%;
    margin: 2% 0 0 0;
    float: right;
    text-align: right;

    .button--major {
      display: inline-block;
      margin: 0 0 0 0.5rem;
      width: auto;
    }
  }

  .page-heading {
    margin-top: 3.75rem;
  }
}