.logo-grid {
  margin: 0;
  font-size: 0;

  .logo {
    display: inline-block;
    width: 48.5%;
    height: 0;
    padding-bottom: 30%;
    margin: 0 3% 3% 0;
    text-indent: -9999px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

#innovation-women {
  background-image: url("../../images/client-logos/innovation-women-logo.png");
  background-size: auto 60%;
}

#velir {
  background-image: url("../../images/client-logos/velir-logo.png");
  background-size: 80% auto;
}

#resilient-coders {
  background-image: url("../../images/client-logos/resilient-coders-logo.png");
  background-size: auto 50%;
}

#safety-netaccess {
  background-image: url("../../images/client-logos/safety-net-access-logo.png");
  background-size: 70% auto;
}

#city-awake {
  background-image: url("../../images/client-logos/city-awake-logo.png");
  background-size: 70% auto;
}

#vsnap {
  background-image: url("../../images/client-logos/vsnap-logo.png");
  background-size: 70% auto;
}

#wa11st {
  background-image: url("../../images/client-logos/wa11st-logo.png");
  background-size: 70% auto;
}

#pirashield {
  background-image: url("../../images/client-logos/pirashield-logo.png");
  background-size: 70% auto;
}

#human-condition-safety {
  background-image: url("../../images/client-logos/human-condition-safety-logo.png");
  background-size: 80% auto;
}

#vici-capital-partners {
  background-image: url("../../images/client-logos/vici-capital-partners-logo.png");
  background-size: 70% auto;
}

#bek-health {
  background-image: url("../../images/client-logos/bek-health-logo.png");
  background-size: 80% auto;
}

#startup-rounds {
  background-image: url("../../images/client-logos/startup-rounds-logo.png");
  background-size: 80% auto;
}

@media (min-width: 600px) {
  .logo-grid {

    .logo {
      width: 31.333%;
      padding-bottom: 20%;

      &:nth-child(even) {
        margin-right: 3%;
      }

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}
