.mentions-list {
  margin: 0 auto;
  max-width: 100%;
  font-size: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  .mention {
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 0 3% 3vw 0;
    text-align: left;
  }

  .mention-logo-wrap {
    margin-bottom: .9375rem;
  }

  .mention-logo {
    display: block;
    width: 100% !important;
    max-width: 150px;
    margin: 0 auto;
  }

  .mention-date {
    margin-bottom: 0;
  }
}

@media (min-width: 500px) {
  .mentions-list {

    .mention {
      width: 48.5%;

      &:nth-child(2n) { margin-right: 0; }
    }
  }
}
