html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Merriweather, serif;
  font-size: 100%;
  font-weight: 300;
  color: $darkest;
  background-color: $lightest-gray;
}

main {
  background-color: $lightest-gray;
  padding: 0.9375rem 0 1.875rem 0;
  position: relative;
  z-index: 2;
}

h1, h2, h3, h4, h5, h6,
p, ul { // cruddy reset
  font-size: 0.8125rem; // 13px
  line-height: 1.846;   // 24px
  margin: 0 0 1.5rem 0; // 24px
  font-weight: normal;
  font-weight: 300;

  main & {
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid rgba($green, 0.5);
  transition: all 0.2s linear;
  border-radius: 2px;

  &:hover,
  &:focus {
    border-bottom: 2px solid rgba($green, 1);
  }
}

li > ul {
  margin-bottom: 0;
}

li {
  list-style-type: disc;
  margin-left: 1rem;    // 16px
  margin-bottom: 0.1875rem; // 3px
}

.non-text-list {
  margin: 0;

  li {
    margin: 0;
  }
}

.page-heading--title {
  font-size: 1.875rem;    // 30px
  line-height: 1.2;       // 36px
  margin-bottom: 0.75rem; // 12px
}

.page-heading--subtitle {
  font-size: 1.25rem;      // 20px
  line-height: 1.5;        // 30px
  margin-bottom: 1.875rem; // 30px

  &:last-child { // if there's no image after the subtitle push bottom of header down
    margin-bottom: 0;
    padding-bottom: 3.75rem;
  }
}

.page-heading--solo-paragraph {
  font-size: 1.5rem;       // 24px
  line-height: 1.25;       // 30px
  margin-bottom: 1.875rem; // 30px
}

.text-heading-one,
.text-heading-two,
.text-heading-three {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

.text-heading-one {
  font-size: 1.5rem;        // 24px
  line-height: 1.25;        // 30px
  margin-bottom: 0.9375rem; // 15px
}

.text-heading-two {
  font-size: 1.25rem;     // 20px
  line-height: 1.2;       // 24px
  margin-bottom: 0.75rem; // 12px
}

.text-heading-three {
  font-size: 1rem;        // 16px
  line-height: 1.5;       // 24px
  margin-bottom: 0.75rem; // 12px
}

img {
  max-width: 100%;
}

section {
  margin-bottom: 3.75rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.container {
  width: 100%;
  max-width: 930px;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (min-width: 700px) {

  main {
    padding: 1.875rem 0 3.75rem 0;
  }

  p,
  ul {
    font-size: 1rem;         // 16px
    line-height: 1.875;      // 30px
    margin-bottom: 1.875rem; // 30px
  }

  li {
    list-style-type: disc;
    margin-left: 1.5rem;    // 24px
    margin-bottom: 0.375rem; // 6px
  }

  .page-heading--title {
    font-size: 3rem;        // 48px
    line-height: 1.25;      // 60px
    margin-bottom: 0.75rem; // 12px
  }

  .page-heading--subtitle {
    font-size: 1.875rem;    // 30px
    line-height: 1.6;       // 48px
    margin-bottom: 3.75rem; // 60px

    &:last-child { // if there's no image after the subtitle push bottom of header down
      margin-bottom: 0;
      padding-bottom: 7.5rem;
    }
  }

  .page-heading--solo-paragraph {
    font-size: 2.25rem;  // 36px
    line-height: 1.333;  // 48px
    margin-bottom: 3rem; // 48px
  }

  .paragraph--major {
    font-size: 1.25rem;     // 20px
    line-height: 1.8;       // 36px
    margin-bottom: 2.25rem; // 36px
  }

  .paragraph--minor {
    font-size: 0.8125rem;  // 13px
    line-height: 1.846;    // 24px
    margin-bottom: 1.5rem; // 24px
  }

  .list--minor {
    font-size: 0.8125rem;  // 13px
    line-height: 1.846;    // 24px
    margin-bottom: 1.5rem; // 24px

    li {
      margin-left: 0.8125rem;    // 16px
      margin-bottom: 0.1875rem; // 3px
    }
  }

  .text-heading-one {
    font-size: 2.25rem;       // 36px
    line-height: 1.333;       // 48px
    margin-bottom: 0.9375rem; // 15px
  }

  .text-heading-two {
    font-size: 1.5rem;        // 24px
    line-height: 1.25;        // 30px
    margin-bottom: 0.9375rem; // 15px
  }

  .text-heading-three {
    font-size: 1.25rem;       // 20px
    line-height: 1.5;         // 30px
    margin-bottom: 0.5625rem; // 9px
  }

  section {

    .section--header {
      margin-bottom: 0.5625rem;
    }
  }
}
