<div class="skip-links visually-hidden">
  <ul>
    <li><a href="#navigation">Skip to main navigation</a></li>
    <li><a href="#main">Skip to main content</a></li>
    <li><a href="#banner">Stay here in the header</a></li>
    <li><a href="#contentinfo">Skip to the footer</a></li>
  </ul>
</div><!-- end of .skip-links -->
<header class="header--global" role="banner" id="banner">
  <div class="container ">
    <a href="/" class="main--navigation-logo">
      <img src="/images/logos/logo.svg" alt="East Coast Product Logo" />
      <span class="visually-hidden">East Coast Product</span>
    </a>
    <nav class="navigation--global" role="navigation" id="navigation">
      <a href="/services" class="link link-services">Services</a>
      <a href="/work" class="link link-work">Work</a>
      <a href="/about" class="link link-about">About</a>
      <a href="/jobs" class="link link-jobs">Jobs</a>
      <a href="https://blog.eastcoastproduct.com" target="_blank" class="link">Blog</a>
      <a href="/contact" class="button--major">Hire Us</a>
    </nav>
    <div class="page-heading">
      <% if(layout == "home.ejs") { %>
        <h1 class="page-heading--solo-paragraph"><%- pageDescription %></h1>
        <div class="header--image">
          <img src="<%- pageHeadingImage %>" alt="<%- pageHeadingImageAlt %>"/>
        </div>
      <% } else { %>
        <h1 class="page-heading--title"><%- pageHeading %></h1>
        <% if(pageDescription) { %>
          <p class="page-heading--subtitle"><%- pageDescription %></p>
        <% } %>
        <% if(pageHeadingImage && pageHeadingImageFormat == "desktop") { %>
          <div class="header--image" id="to-be-removed">
            <picture class="browser-chrome">
              <span class="browser-buttons" id="close-browser-button"></span>
              <span class="browser-url-bar" contenteditable="true"></span>
              <img src="<%- pageHeadingImage %>" alt="<%- pageHeadingImageAlt %>" />
            </picture>
          </div>
        <% } %>
        <% if(pageHeadingImage && pageHeadingImageFormat == "mobile") { %>
          <div class="header--image">
            <picture class="mobile-device">
              <span class="mobile-camera"></span>
              <span class="mobile-power-button" id="device-power-button"></span>
              <img src="<%- pageHeadingImage %>" alt="<%- pageHeadingImageAlt %>" id="to-be-blanked" />
            </picture>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
</header>
