<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-home">
    <% include partials/header %>
    <main role="main" id="main">
      <section id="team">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Who we are</h1>
          </header>
          <div class="card targetable">
            <p class="paragraph--major">We are a group of expert designers and developers, working together to build great product. We work in small teams focused on only your project, designed to find the right solutions to your problems.</p>
            <a href="/about" class="button--default">Meet the team</a>
          </div><!-- end of .card -->
        </div>
      </section>
      <section id="clients">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Our clients and partners</h1>
          </header>
          <div class="logo-grid">
            <a href="/work/vsnap" id="vsnap" class="logo card targetable">Vsnap</a>
            <a href="/work/innovation-women" id="innovation-women" class="logo card targetable">Innovation Women</a>
            <a href="/work/human-condition-safety" id="human-condition-safety" class="logo card targetable">Human Condition Safety</a>
            <a href="/work/bek-health" id="bek-health" class="logo card targetable">BEKHealth</a>
            <a href="/work/pirashield" id="pirashield" class="logo card targetable">PiraShield</a>
            <!--<a href="/work/vici-capital-partners" id="vici-capital-partners" class="logo card targetable">Vici Capital Partners</a>-->
            <a href="/work/social-impact-calendar" id="city-awake" class="logo card targetable">City Awake</a>
            <a href="/work/wa11st" id="wa11st" class="logo card targetable">Wa11st</a>
            <a href="/work/startup-rounds" id="startup-rounds" class="logo card targetable">Startup Rounds</a>
            <a href="http://www.resilientcoders.org/" id="resilient-coders" class="logo card targetable">Resilient Coders</a>
            <a href="https://www.velir.com/" id="velir" class="logo card targetable">Velir</a>
            <!--<a href="/work/safety-netaccess" id="safety-netaccess" class="logo card targetable">Safety NetAccess</a>-->
          </div>
          <a href="/work" class="button--default">Hear their stories</a>
        </div>
      </section>
      <section id="services">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Services we offer</h1>
          </header>
          <% collections.services.forEach(function(service){ %>
          <div class="card targetable" id="<%= service.id %>">
            <h2 class="text-heading-two"><%= service.title %></h2>
            <% if(service.leadImage) { %>
            <img src="<%= service.leadImage %>" alt="Illustration of equipment used for <%= service.title %>" class="card-image--hang-right-wide" />
            <% } %>
            <p><%= service.description %></p>
            <a href="/services/#<%= service.id %>" class="button--default">Learn more<span class="visually-hidden"> about <%= service.title %></span></a>
          </div>
          <% }) %>
        </div>
      </section>
      <section id="mentions">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Media mentions</h1>
          </header>
          <div class="mentions-list">
            <% collections.mentions.forEach(function(mention){ %>
            <a href="<%= mention.mentionURL %>" class="mention card">
              <div class="mention-logo-wrap">
                <img src="/images/mention-logos/<%= mention.publicationLogo %>" alt="Logo of <%= mention.publication %>" class="mention-logo" />
              </div>
              <h2 class="text-heading-two mention-title">
                <span class="link-surrogate"><%= mention.mentionTitle %></h2></span>
              <h3 class="paragraph--minor mention-date"><%= mention.publication %> | <%= mention.mentionDate %></h3>
            </a><!-- end of .card -->
            <% }) %>
          </div><!-- end of .mentions-list -->
        </div>
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>
